<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


<!-- <app-hero></app-hero> -->
<!-- <app-hero-list></app-hero-list> -->

<app-card>
  <ng-container class="heading">
    <img class="card-img-top" src="https://picsum.photos/g/200/300" alt="Card image cap">
  </ng-container>
  <ng-container class="body">
    <h5 class="card-title">Card Title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </ng-container>
</app-card>
</div>
